<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <span> Matheus G. Ferreira </span>
    </nav>
    <content>
      <div class="main-left">
        <div class="content-header"><span>Quando tudo começou</span></div>
        <p>
          Tudo começou quando estava na casa dos 12 anos, foi ali onde tudo se
          iniciou, era um menino muito curioso e queria saber como tudo era
          feito por trás dos panos, até então tudo era algo impossível. Foi
          quando eu comecei a entender o que era a programação através do
          <b>Java</b>, que sempre foi minha inspiração pois <b>RuneScape</b> (O
          meu jogo favorito dentre todos) era desenvolvido no mesmo. Esse era
          meu motivo para continuar, queria muito poder ter meu próprio RPG mas
          sem nem saber por onde começar... Anos se passaram, e a vontade e
          dedicação sempre acompanhando de forma mútua, até que em 2018 me
          formei em Sistemas de Informação pois precisava de uma graduação na
          área, até gostei, mas não era o que eu estava procurando... A partir
          dalí comecei a procurar sobre a programação web pois era uma área mais
          acessível na região onde moro, já que desenvolvedor de jogos não era
          uma opção pela falta de oportunidade. Foi então que descobri minha
          segunda paixão, que é desenvolver web apps com a utilização de
          <b>JavaScript</b>, que foi facilmente adaptável pois a sintaxe não se
          difere muito da minha main language. E cá estou eu, fazendo pós
          graduação em <b>Desenvolvimento de Aplicações Web & Mobile</b>, e
          aprendendo muito sobre as novas tecnologias que estão surgindo...
        </p>
      </div>
      <div class="main-right">
        <div class="content-header"><span>Skills</span></div>
        <div class="tags">
          <span class="sm">JavaScript</span> <span class="md">ReactJS</span>
          <span class="sm">Flexbox</span> <span class="bg">Node.js</span>
          <span class="sm">Língua Inglesa</span
          ><span class="md">GIT Flow</span> <span class="md">Angular</span>
          <span class="sm">JavaFX</span> <span class="bg">CSS</span>
          <span class="sm">Java</span> <span class="md">GIT</span
          ><span class="sm">Spring</span>
        </div>
      </div>
    </content>
    <footer>
      <div class="footer-left-section">
        <img class="rounded" src="./assets/dev.png" alt="The Developer" />
        <div class="about">
          <p>
            Matheus Guilherme Ferreira é um cara extrovertido nascido no Brasil,
            amante de <b>RuneScape & World of Warcraft</b> que curte o universo
            da programação que quer mudar o mundo!
          </p>
        </div>
      </div>
      <div class="footer-middle-section">
        <div class="content-header"><span>Links</span></div>
        <div class="useful-links">
          <ul>
            <li><a href="">My Blog</a></li>
            <li><a href="">View on Github</a></li>
            <li><a href="">CSS Flexbox</a></li>
          </ul>
          <ul>
            <li><a href="">Learn HTML</a></li>
            <li><a href="">CSS-Tricks</a></li>
            <li><a href="">Angular</a></li>
          </ul>
          <ul>
            <li><a href="">Learn GIT</a></li>
            <li><a href="">Angular CLI</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-right-section">
        <div class="content-header"><span>Social</span></div>
        <div class="socials">
          <a href="https://www.facebook.com/matheus.guilhermeferreira/" class="fb">Facebook</a>
          <a href="https://www.twitter.com/godzamylive" class="tt">Twitter</a>
          <a href="https://www.twitch.tv/theusingod" class="tw">Twitch</a>
        </div>
      </div>
    </footer>
    <div class="credits">
      <p>
        Criado por mim com <span>♥</span> usando Angular & CSS Flexbox! E com um
        pouco de <fa-icon [icon]="faCoffee"></fa-icon>
      </p>
    </div>
  </body>
</html>
