<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <span ng-init="arroba()">
        Matheus G. Ferreira
      </span>
    </nav>
    <content>
      <div class="main-left">
        <span>Quando tudo Começou</span>
        <p>Lorem ipsum</p>
      </div>
      <div class="main-right">Skills
        <p>farelo</p>
      </div>
    </content>
    <footer>
      <div class="footer-left-section">
        <img class="rounded" src="./assets/dev.png" alt="The Developer" />
        <span>Sobre Mim</span>
      </div>
      <div class="footer-middle-section">
        <p>Links</p>
        <ul>
          <li><a href="">Blog</a></li>
          <li><a href="">View on Github</a></li>
          <li><a href="">Angular</a></li>
        </ul>
      </div>
      <div class="footer-right-section">
        <div class="socials">
          <span class="glyphicon glyphicon-search" aria-hidden="true">Facebuk</span>
          <span class="glyphicon glyphicon-search" aria-hidden="true">Tuiter</span>
          <span class="glyphicon glyphicon-search" aria-hidden="true">Orcute</span>
        </div>
        Made with love by me
      </div>
    </footer>
  </body>
</html>
