body {
  background: rgb(43, 43, 43);
  color: rgb(156, 156, 156);
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .content-header {
    background-color: #1a1a1a;
    width: 100%;

    span {
      margin-left: 30px;
      font-size: 20px;
      color: rgba(133, 107, 189, 1);
    }
  }

  content {
    display: flex;
    flex-grow: 5;
    margin: 6px;

    .main-left {
      background-color: rgb(31, 30, 30);
      border-right: 3px solid rgb(144, 80, 165);

      display: flex;
      flex-direction: column;
      align-items: center;

      flex-grow: 5;

      margin: 5px;

      max-width: 70%;

      p {
        margin: 10px;
      }
    }

    .main-right {
      background-color: rgb(31, 30, 30);
      border-right: 3px solid rgb(144, 80, 165);

      display: flex;
      flex-direction: column;
      align-items: center;

      flex-grow: 1;

      margin: 5px;

      .tags {
        display: flex;

        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 5px;

        .sm {
          background-color: #111111;
          color: rgb(233, 149, 215);
          padding: 6px;
          border-radius: 8px;
          margin: 5px;
        }

        .md {
          background-color: #111111;
          color: rgb(233, 149, 215);
          padding: 6px;
          border-radius: 8px;
          margin: 5px;
          font-size: 18px;
        }

        .bg {
          background-color: #111111;
          color: rgb(233, 149, 215);
          padding: 6px;
          border-radius: 8px;
          margin: 5px;
          font-size: 20px;
        }
      }
    }
  }

  nav {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    flex-grow: 6;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/head.JPG);

    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 50px;
      padding: 20px;
      font-family: "Pattaya", sans-serif;
      color: rgb(218, 218, 218);
      text-shadow: 2px 2px 30px #000000;
    }
  }

  section {
    flex-grow: 5;
    justify-content: center;

    background-color: rgb(31, 30, 30);
    border-right: 3px solid rgb(144, 80, 165);

    margin-left: 10px;
    margin-right: 10px;
  }

  footer {
    display: flex;
    flex-direction: row;

    .footer-left-section {
      max-width: 550px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: rgb(31, 30, 30);
      border-radius: 80px 0px 0px 80px;
      border-right: 3px solid rgb(144, 80, 165);

      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 15%;
        min-width: 100px;
        border-radius: 100px;
        border: 2px solid white;
        padding: 3px;
        margin: 5px;
      }

      .about {
        display: flex;
        align-items: center;

        flex-direction: row;
        justify-content: center;

        align-items: center;

        width: 100%;
        height: 100%;

        p {
          margin-left: 15px;
          margin-top: 6px;
        }
      }
    }

    .footer-middle-section {
      flex-grow: 10;

      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;

      background-color: rgb(31, 30, 30);
      border-radius: 5px;
      border-right: 3px solid rgb(144, 80, 165);

      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-weight: bold;
        font-size: 15px;
      }

      ul {
        list-style-type: none;
      }

      .useful-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        align-items: center;

        width: 100%;
        height: 100%;

        ul {
          li {
            color: white;
            text-decoration: underline;

            a:visited {
              color: rgb(156, 156, 156);
            }

            A:hover {
              color: rgb(144, 80, 165);
            }
          }
        }
      }
    }

    .footer-right-section {
      flex-grow: 10;

      background-color: rgb(31, 30, 30);
      border-radius: 5px;
      border-right: 3px solid rgb(144, 80, 165);

      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;

      display: flex;
      flex-direction: column;
      align-items: center;

      .socials {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        a:hover {
          color: rgb(218, 218, 218);
        }

        .tw {
          background-color: #111111;
          color: rgb(138, 80, 165);
          padding: 10px;
          border-radius: 8px;
          margin: 2px;
          border: 1px solid rgb(118, 66, 136);
        }

        .fb {
          background-color: #111111;
          color: rgb(63, 106, 170);
          padding: 10px;
          border-radius: 8px;
          margin: 2px;
          border: 1px solid rgb(54, 92, 148);
        }

        .tt {
          background-color: #111111;
          color: rgb(63, 77, 170);
          padding: 10px;
          border-radius: 8px;
          margin: 2px;
          border: 1px solid rgb(47, 57, 119);
        }
      }
    }
  }

  .credits {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgb(31, 30, 30);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p {
      span {
        font-size: 20px;
        color: red;
      }
    }
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
