<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <span ng-init="arroba()"> Matheus G. Ferreira </span>
    </nav>
    <content>
      <div class="main-left">
        <div class="content-header"><span>When everything begun</span></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac
          consequat arcu, aliquet facilisis erat. Nulla vestibulum purus quis
          erat sollicitudin tempus. Nulla sed odio ornare, sollicitudin mauris
          eu, sodales tellus. Ut pharetra erat nisl, at rutrum purus consectetur
          a. Suspendisse volutpat lectus a urna efficitur, id condimentum ipsum
          mollis. Pellentesque dui eros, rutrum non efficitur blandit, fermentum
          a ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et
          ultrices posuere cubilia curae; Quisque vestibulum, justo ut
          consectetur rhoncus, odio lacus aliquet dolor, ac consectetur velit mi
          eget lectus. Integer sollicitudin dolor in turpis tempus tincidunt.
          Duis quis sem quis mi facilisis luctus ac sit amet ipsum. In hac
          habitasse platea dictumst. Aenean aliquet vehicula tellus et suscipit.
          Aliquam erat volutpat. Suspendisse vel ultrices elit, sed porttitor
          mi. Sed quis efficitur nunc, sit amet interdum metus. Aenean ultricies
          molestie ante, vel lacinia elit finibus a. Cras eget augue nec turpis
          elementum posuere. Nam eget libero at est dapibus bibendum. Aliquam
          erat dolor, suscipit nec pulvinar sit amet, cursus a mi. Pellentesque
          ac nisi a odio rhoncus scelerisque eget et neque. Proin dapibus massa
          id elit gravida, vel gravida enim ultricies. Fusce nunc dolor,
          pulvinar vel quam a, aliquet sodales est. Class aptent taciti sociosqu
          ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean
          sit amet magna id eros suscipit interdum id eget massa. Curabitur ac
          dui vitae risus bibendum feugiat nec vel magna. Donec imperdiet
          aliquam erat sit amet posuere. Aenean viverra libero eu erat sodales,
          fringilla cursus justo interdum. Phasellus dictum nisi a lectus
          posuere, eu luctus enim tristique. Vivamus at gravida massa, quis
          aliquet purus. Sed accumsan sem ut maximus sollicitudin. Praesent ut
          enim rhoncus urna vestibulum rhoncus. Morbi a sagittis massa. Integer
          eu blandit nisi, a tincidunt nulla. Nunc convallis tellus ut nibh
          ultrices, ac sollicitudin ipsum efficitur. In et sem aliquam, bibendum
          massa porttitor, vehicula ex. Quisque ut enim nunc. Praesent posuere
          laoreet felis, nec tincidunt erat eleifend ac. Integer at sapien
          egestas, vulputate quam nec, congue augue. Pellentesque molestie et
          orci nec elementum. Cras fringilla purus et tellus convallis, vel
          consectetur erat lobortis. Quisque faucibus pellentesque sagittis.
          Morbi nunc diam, ultricies sollicitudin leo dictum, condimentum
          dapibus ipsum. In hac habitasse platea dictumst. Ut ut lorem
          fringilla, iaculis elit id, sodales nisi. Curabitur vestibulum
          consectetur finibus. Nulla consequat elementum nibh, sit amet dapibus
          magna tincidunt vitae. Nam viverra lectus quis purus euismod sodales
          in ac libero. Phasellus eget sollicitudin turpis. Proin quis eleifend
          augue. Suspendisse feugiat diam et auctor posuere. Cras velit felis,
          efficitur vel nunc accumsan, feugiat tempus lacus. Maecenas dapibus
          nisl enim, eget aliquam metus consequat quis. Proin pellentesque arcu
          nec dui suscipit aliquam. In blandit tortor at elit suscipit viverra.
          Suspendisse at ornare nisl. Mauris et cursus diam. Quisque pretium
          ligula sed dui faucibus dictum. Aliquam laoreet enim eu condimentum
          consectetur. Nullam accumsan nec velit at vehicula. Fusce blandit
          nulla at ex hendrerit, sit amet faucibus purus sagittis. Suspendisse
          potenti.
        </p>
      </div>
      <div class="main-right">
        <div class="content-header"><span>Skills</span></div>
        <p>farelo</p>
      </div>
    </content>
    <footer>
      <div class="footer-left-section">
        <img class="rounded" src="./assets/dev.png" alt="The Developer" />
        <div class="about">
          <p>"Wyvern800 (Matheus Guilherme Ferreira), Brazil based, <br>World of Warcraft lover, alcohool enjoyer"</p>
        </div>
      </div>
      <div class="footer-middle-section">
        <div class="content-header"><span>Links</span></div>
        <ul>
          <li><a href="">Blog</a></li>
          <li><a href="">View on Github</a></li>
          <li><a href="">Angular</a></li>
        </ul>
      </div>
      <div class="footer-right-section">
        <div class="content-header"><span>Social</span></div>
        <div class="socials">
          <span class="glyphicon glyphicon-search" aria-hidden="true"
            >Facebuk</span
          >
          <span class="glyphicon glyphicon-search" aria-hidden="true"
            >Tuiter</span
          >
          <span class="glyphicon glyphicon-search" aria-hidden="true"
            >Orcute</span
          >
        </div>
        <p>Made with love by me using Angular</p>
        <p>with help of some coffees</p>
      </div>
    </footer>
  </body>
</html>
